.card {
    width: 300px;
    height: 300px;
    margin: 10px;
    //transition: 0.3s;
    //border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    color:white;
}


/*
.card:hover {
    transform: translateZ(15px);
  }

.card:active {
    transform: rotateY(180deg) translateZ(-95px);
}
*/