

.table {
    width: 80vh;
    height: 80vh;
    margin: auto;
    padding: 5vh;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
    transition: 1s;
}