@import 'src/components/body.scss';

.table {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
    background:
    repeating-linear-gradient(
        transparent,transparent 20px, $gridcolor 22px
        ),
    repeating-linear-gradient(
        90deg,
        transparent,transparent 20px, $gridcolor 22px
        );
}